.Signup-header {
    background-color: #c6cad1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(0, 0, 0);
  }
.signup-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
  }
  
  /* Form fields */
  .signup-form label,
  .signup-form input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .signup-form label {
    font-weight: bold;
  }
  
  .signup-form input[type="text"],
  .signup-form input[type="email"],
  .signup-form input[type="password"] {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  /* Submit button */
  .signup-form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .signup-form input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  